<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="footer-inner">-->
<!--            <div class="ft-elements">-->
<!--                <p th:text="#{footer.copyright}"></p>-->
<!--            </div>-->
<!--            <div class="ft-elements contact text-right">-->
<!--                <img width="20" src="images/icon-phone.svg"><span th:text="#{footer.contact}"></span><a style="color: #0c807f"  th:href="@{'tel:' + #{hotline.number}}" th:text="#{hotline.number}"></a>-->
<!--            </div>-->
<!--            <div class="clearfix"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__info">
                <div class="footer__logo">
                    <img src="images/logo.svg" />
                </div>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <img src="images/ic-phone.svg" />
                        <span class="footer__list-text"><span th:text="#{footer.contact}"></span><a style="color: white"  th:href="@{'tel:' + #{hotline.number}}" th:text="#{hotline.number}"></a></span>
                    </li>
                    <li class="footer__list-item">
                        <img src="images/ic-website.svg" />
                        <span class="footer__list-text">Pay.metfone.com.kh</span>
                    </li>
                    <li class="footer__list-item">
                        <div class="social">
                            <a class="social__item" href="https://www.facebook.com/metfone.closer">
                                <img src="images/ic-fb.svg" />
                            </a>
                            <a class="social__item" href="https://www.instagram.com/metfone.closer/">
                                <img src="images/ic-in.svg" />
                            </a>
                            <a class="social__item" href="https://twitter.com/metfone_closer">
                                <img src="images/ic-tw.svg" />
                            </a>
                            <a class="social__item" href="https://www.youtube.com/user/TheMetfoneCloser">
                                <img src="images/ic-yt.svg" />
                            </a>
                        </div>
                        <span class="footer__list-text">/metfone.closer</span>
                    </li>
                </ul>
            </div>
            <div class="footer__payment">
                <h4 class="footer__sub">We accept </h4>
                <ul class="payment-list">
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-master.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-visa.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-jcb.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-alipay.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-wechat.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-union.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-money.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-abapay.png" />
                        </a>
                    </li>
                    <li class="payment-list__item">
                        <a class="payment-list__link" href="javascript:;">
                            <img src="images/ft-acleda.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>