<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="css/xzoom.css" />
    <link rel="stylesheet" href="css/demo.css" />

    <link rel="stylesheet" href="css/pupup.css" />
    <script src="js/foundation.min.js"></script>
    <script src="js/setup.js"></script>

    <script src="js/preOrder.js"></script>

    <!-- xzoom plugin here -->
    <script type="text/javascript" src="../dist/xzoom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../dist/xzoom.css" media="all" />

    <link rel="stylesheet"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!--    -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->

<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <style>



    </style>
</head>
<body>

<div class="container" layout:fragment="content">
    <form id="form" action="#">
    <div id="LoginFrom">

    <div class="inp-button" style="position: relative;padding-top: 10px">
        <button data-toggle="modal" data-target="#myModal" class="form-contro" onclick="modalVerificationCode()"  style="padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;position: absolute;right: 0px;background: #eb2227;color: white;font-size: 1rem"><span >Track your order</span></button>

        <!-- The Modal -->
        <div id="modalVerificationCode" class="modalVericationCode">

            <!-- Modal content -->
            <div class="modalVericationCode-content" style="width: 27%;border-radius: 5px">
                <span class="closeModal">&times;</span>
                <p style="font-size: 25px;font-weight: bold">Track your order</p>
                <label style="margin-right: 349px;">Verification Code</label>
                <input type="text"  name="fname" value=""  placeholder="Enter your verification code" class="form-control" style="border-radius: 5px;border: 1px solid gray;width: 476px">
                <button data-toggle=""  data-target="#myModal" class="form-contro"  style="padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #eb2227;color: white;font-size: 1rem"><span >Search</span></button>
            </div>


        </div>



    </div>


    <div class="row" style="margin-bottom: 80px ;padding-top: 45px">
        <div class="large-5 column1" >
            <div class="xzoom-container" id="test" >
                <img class="xzoom"  src="images/product-preOrder/category/iphone14promax.jpeg" xoriginal="images/product/iphone/iphone14promax.jpeg" />

            </div>
        </div>


        <div class="row" >
            <div class="" style="display: flex;flex-direction: column;padding-left: 15px" >
                <label >Choose product</label>
<!--                <select onchange="displayProductCategory('hideValuesOnSelect', this)" class="form-control" id="productCategory" >-->
<!--                <select onchange="testProduct()" class="form-control" id="productCategory" >-->

<!--                    <option value="0">select product</option>-->
<!--                    <option value="1">Iphone</option>-->
<!--                </select>-->
                <select  class="form-control" th:id="productCategory" onchange="changeProduct(this.value)">
                    <option>select product</option>
                </select>


                <div class="xzoom-container">
                    <div id="categoryImg" class="xzoom-thumbs">
                        <a id="zoomImg0" onclick="('images/product/iphone/iphone14promax.jpeg')"></a>
                    </div>
                    <div class="img-box-category" style="position: relative" id="hideValuesOnSelect">
                        <img  th:id="productImage" class="xzoomgallery" src="images/product-preOrder/category/iphone14promax.jpeg" style="display: none;width: 66.62px;height:58.24px;position: absolute;right: 37px;top:5px">
                        <p style="width: 144px;height: 15px;margin-left: 9px;position: absolute;top:68px">Iphone</p>
                    </div>
                </div>
                <label>Choose your device</label>
<!--                <select  class="form-control" name="deviceCategory" id="productSubCategory" onchange="displayProductCategory('hideValuesOnSelect1', this)" >-->
<!--                    <option value="0">select device</option>-->
<!--                    <option value="1">Iphone 14 series</option>-->
<!--                </select>-->
                <select  class="form-control" name="deviceCategory"  id="productSubCategory"   >

                </select>
                <div class="xzoom-container">

                    <div  style="position: relative;display: none;margin-bottom: 10px" id="hideValuesOnSelect1">
                        <label>Choose your model</label>
                        <div style="display: flex;flex-direction: row;justify-content: space-between">
                            <div class="img-iphone-category"  id="iphone" onclick="selectIphone14ProMax()" style="padding-left: 16px">
                                <p style="margin-bottom: 0px;font-weight: bold" >IPHONE14 PROMAX</p>
                                <span style="font-size: 12px">6.7-Inch Iphone</span>

                            </div>
                            <div class="img-iphone-category" id="iphone14" onclick="selectIphone14Pro()" style="padding-left: 16px">
                                <p style="margin-bottom: 0px;font-weight: bold" >IPHONE14 PRO</p>
                                <span style="font-size: 12px">6.7-Inch Iphone</span>

                            </div>

                        </div>

                        <div class="img-iphone-category" id="iphone14max" onclick="selectIphone14()" style="padding-left: 16px">
                            <p style="margin-bottom: 0px;font-weight: bold">IPHONE14 </p>
                            <span style="font-size: 12px">6.7-Inch Iphone</span>

                        </div>





                    </div>

                </div>
                <label>Choose your capacity</label>
                <select id="productCapacity" class="form-control" name="capacityCategory">
                    <option>select capacity</option>

                </select>
                <label>Choose your collor</label>
                <select id="productColor" class="form-control" name="collorCategory">
                    <option>select collor</option>

                </select>
                <label class="fill-in">
                    Fill your information
                </label>
                <div style="display: flex;flex-direction: row">

                    <select class="form-control"  style="width: 174px;height: 39.5px;margin-right: 20px">
                        <option>Mr</option>
                        <option>Miss</option>
                        <option>Mrs</option>
                    </select>
                   <input name="name" id="productCustomerName" type="text" placeholder="Customer's name" class="form-control" style="border-radius: 5px;border: 1px solid #AEAEAE">

                </div>
                <div style="display: flex;flex-direction: row">

                    <select class=" form-control" style="width: 174px;height: 39.5px;margin-right: 20px" id="myDiv2" name="fname" type="text" >
                        <option>097</option>
                        <option>088</option>
                        <option>071</option>
                        <option>031</option>
                        <option>090</option>
                        <option>068</option>
                        <option>060</option>
                        <option>066</option>
                        <option>067</option>
                        <option>090</option>

                    </select>
                    <input type="text" id="productCustomerNum" name="fname" value=""    placeholder="Phone number(8889894)" class="form-control " style="border-radius: 5px;border: 1px solid gray">

                </div>
                <input type="text" id="productCustomerId" name="fname" value=""  placeholder="National ID card/passport" class="form-control" style="border-radius: 5px;border: 1px solid gray">
                <select class="form-control"  id="productCustomerProvince" >
                    <option>Select provice</option>
                    <option>Phnom Penh</option>
                    <option>Takeo</option>
                    <option>Kompot</option>
                    <option>Kep</option>
                    <option>Sihanouk Ville</option>
                    <option>Koh Kong</option>
                    <option>Pursat</option>

                </select>
                <select class="form-control" >
                    <option>Select pick up location</option>

                </select>
                <div style="text-align: center">
                    <button   data-toggle="modal" data-target="#myModal" class="form-contro"  style="margin-right: 10px;width: 110px; padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #e2e6ea;color: #212529;font-size: 1rem"><span >Cancel</span></button>

                    <button onclick="modalReviewProduct()"  type="button" data-toggle="modal" data-target="#myModal" class="form-contro"  style="width: 110px;padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #eb2227;color: white;font-size: 1rem"><span >Next</span></button>

                </div>




            </div>



            <!-- The Modal -->
            <div id="modalReviewProduct" class="reviewProduct">

                <!-- Modal content -->
                <div class="reviewProduct-content">
                    <div class="row" style="margin-bottom: 80px ;padding-top: 45px;">
                        <div class="large-5 column1" style="margin-right: 30px" >
                            <div class="" >
                                <img style="width: 485px;height: 339px" src="images/product/iphone/iphone14promax.jpeg" xoriginal="images/product/iphone/iphone14promax.jpeg" />

                            </div>
                        </div>


                        <div class="row " style="padding-top: 34px" >

                                <div >

                                    <h2>Please review and confirm your pre-order</h2>

                                    <ul style="padding-left: 420px">
                                        <li style=" list-style-type:disc">Name: xxxxxxxxxx</li>
                                        <li style=" list-style-type:disc">Phone Numner: 0xxxxxxxxxx</li>
                                        <li style=" list-style-type:disc">National ID/ Passport: xxxxxxxxx</li>
                                        <li style=" list-style-type:disc">Province: xxx</li>
                                        <li style=" list-style-type:disc">Pick-up location: xxxxxxx</li>
                                    </ul>
                                    <p>You want to pre-order [Model], [Capacity], [color].5 USD will be deducted from your basic balance for deposit.</p>
                                    <p>You will get gift such as: [xxxx], [xxxx], [xxxx], [xxxx]</p>
                                </div>


                                <div style="text-align: center">
                                    <button data-toggle="modal" data-target="#myModal" class="form-contro"  style="margin-right: 10px;width: 110px; padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #e2e6ea;color: #212529;font-size: 1rem"><span >Cancel</span></button>
                                    <button   onclick="modalProductComfirmation()" type="submit" data-toggle="modal" data-target="#myModal" class="form-contro"  style="width: 110px;padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #eb2227;color: white;font-size: 1rem"><span >Next</span></button>

                                </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- The Modal -->
            <div id="productComfirmation" class="reviewProduct">

                <!-- Modal content -->
                <div class="reviewProduct-content">
                    <div class="row" style="margin-bottom: 325px ;padding-top: 45px;">
                        <div class="large-5 column1" style="margin-right: 30px" >
                            <div  >
                                <img src="images/product/iphone/iphone14promax.jpeg" style="width: 485px;height: 339px" />

                            </div>
                        </div>

                        <div class="row " style="padding-top: 34px" >

                                <div >

                                    <h2>We’ve send confirmation code to your phone number,
                                        please fill that code into the box below:</h2>



                                    <input type="text"  name="fname" value=""    placeholder="Verification code "  class="form-control " style="border-top-color:white;border-radius: 0px;border-right-color:white;border-left-color:white;">
                                </div>
                                <div class="tacbox">
                                    <input id="checkbox" type="checkbox" style="height: 1em;width: 1em;vertical-align: middle;" />
                                    <label for="checkbox"> I agree to the  <button onclick="modalCondition()">Terms and Conditions</button>.</label>
                                </div>

                                <div style="text-align: center">
                                    <button data-toggle="modal" data-target="#myModal" class="form-contro"  style="margin-right: 10px;width: 110px; padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #e2e6ea;color: #212529;font-size: 1rem"><span >Cancel</span></button>
                                    <button onclick="sweetalert()"  type="submit" data-toggle="modal" data-target="#myModal" class="form-contro"  style="width: 110px;padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #eb2227;color: white;font-size: 1rem"><span >Next</span></button>


                                </div>



                        </div>
                    </div>



                </div>

            </div>

            <!-- The Modal -->
            <div id="modalCondition" class="reviewProduct">

                <!-- Modal content -->
                <div class="reviewProduct-content" style="padding-left: 32px">
                    <span class="closeModal">&times;</span>
                    <h3 style="text-align: center;margin-bottom: 10px">Terms and Conditions (Online Payment)</h3>
                    <p>
                        1. The Online Payment System provided by the Telecommunication Service Provider/Metfone accepts these following methods:<br>

                        - VISA, MasterCard, and JCB credit cards<br>
                        - VISA, MasterCard, and JCB debit cards that are activated to be used online<br>
                        - Alipay<br>
                        - Wechat Pay<br>
                        - UnionPay<br>
                        - e-Money<br>
                        2. You can select the refill amount from the list or input the refill amount that you want. The value you will receive shall be
                        compliant with terms and conditions set by the Telecommunication Service Provider/Metfone.<br>
                        3. You acknowledge and accept that in relation to this Online Payment System by credit/debit card and internet banking the
                        Telecommunication Service Provider is solely responsible for a connection to the system or website of the respective commercial banks,
                        card issuers and/or e-payment service providers. Any actions required for payment settlement from any credit/debit card are between the cardholder
                        and the respective commercial banks and/or card issuers and/or e-payment service providers.<br>
                        4. You hereby grant a consent to the Telecommunication Service Provider to access your personal information so that the Telecommunication Service
                        Provider is able to compile and process your personal information as necessary as prescribed by law for the benefit of operation, improvement and/or
                        management of telecommunication business and/or provision of telecommunication service and/or e-payment services including analysis and determination
                        of any marketing plan and activity as well as co-provision of service with any person. You also grant a consent to the Telecommunication Service Provider
                        to disclose<br>
                    </p>
                    <div style="text-align: center">

                        <button   onclick="sweetalertSucess()" type="submit" data-toggle="modal" data-target="#myModal" class="form-contro"  style="width: 110px;padding: .375rem .75rem;border: none;border-radius: 3px;font-weight: 500;
            background: #eb2227;color: white;font-size: 1rem"><span >Continue</span></button>

                    </div>

                </div>

            </div>

        </div>

    </div>

    </div>
    </form>
</div>
</body>
</html>
<script>

</script>










